 @font-face {
            font-family: 'Pretendard-Regular';
            src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
            font-weight: 400;
            font-style: normal;
            }
            
            #meeting-data {
			width: 1200px;
			height: 1100px;
			margin: 0 auto;
		}
            

        .meeting-subject {
            width: 700px;
            height: 140px;
            background-color: white;
            border-radius: 30px;
            display: flex;
            --justify-content: center;
            --align-items: center;
            margin: auto;
            position: relative;
            z-index: 2;
            border: 1px solid black;
        }
        
        .meeting-img-box {
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    margin-left: 20px;
		}
		
		.meeting-img {
			cursor: pointer;
		    border-radius: 50%;
		    border: solid 1px black;
		    width: 110px;
		    height: 110px;
		    
		}
		
		#meeting-content-box {
			display: flex;
		    flex-direction: column;
		    margin-left: 30px;
		    justify-content: center;
		}

        #meeting-detail-box{
            position: relative;
            z-index: 1;
            width: 900px;
            height: 800px;
            background-color: rgb(236, 242, 248);
            margin: auto;
            top: -50px;
            --border-radius: 30px;
            overflow:auto;
        }

        .meeting-detail {
            width: 800px;
            height: 250px;
            --background-color: aqua;
            margin: auto;
            text-align: center;
        }
        
        .meeting-content-img-box {
        	width: 600px;
			height: 250px;
			overflow: hidden;
			margin: 0 auto;
        }
        
        
        .meeting-content-img {
        	width:100%;
		    height:100%;
		    object-fit:scale-down;
        
        }
        
        .meeting-content-info-box {
        	width: 600px;
			height: 100px;
			overflow: hidden;
			margin: 20 auto;
        }
        
        
        .meeting-delete-btn {
        	float: right;
        	width: 100px;
        	height: 30px;
        	cursor: pointer;
        }

        
        .meeting-people-content {
        	width: 900px;
        	height: 260px;
        	background-color: rgba(221, 221, 221, 0.5);
        	position: absolute;
        	bottom: 0px;
        	--margin: 50px;
        	padding: 15px;
        	overflow: auto;
        	--display: block;
        }
        
        .meeting-people-list-scroll {
        	--overflow: auto;
        }
        
        .member-info-list {
        	display: flex;
        	margin-bottom: 15px; 
        }
        
        .img-box {
			height: inherit;
			width: 100px;
			--background-color: beige;
			float: left;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		
		.sns-profile-img {
			border-radius: 50%;
			--border: solid 1px black;
			width: 43px;
			height: 43px;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
				}
		
		.profile-box {
			height: inherit;
			width: 500px;
			--background-color: coral;
			float: left;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		
		.profile-intro {
			font-size: 14px;
		}
		

        #meeting-joinBtn {
            font-size: 22px;
            width: 700px;
            height: 60px;
            background-color: rgb(231, 231, 231);
            border-radius: 20px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            border: 1px solid black;
        }

        #meeting-joinBtn:hover {
            background-color: rgb(55, 115, 179);
            color: white;
        }
        
         .meeting-joinBtn2 {
         	font-size: 22px;
            width: 700px;
            height: 60px;
            background-color: rgb(231, 231, 231);
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            border: 1px solid black;
         }

