@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    }

body {
    background-color: rgb(227, 233, 240);
    font-family: 'Pretendard-Regular';
}

#meeting-main {
	margin: 50px 150px 50px 150px;
}

#meeting-header {
    --float: left;
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#meeting-header2 {
	    text-align: center;
    	font-size: 25px;
    	font-weight: 800px;
	
}

#meeting-startBtn {
    width: 200px;
    height: 40px;
    background-color: rgb(243, 242, 242);
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    border: solid 1px black;
    margin: 0 auto;
}

#meeting-startBtn:hover{
    background-color: rgb(31, 9, 119);
    color: white;
}

#meeting-data {
	width: 1000px;
	height: 150px;
	margin: 0 auto;
}

.meeting-box {
    width: 900px;
    height: 140px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    display: flex;
    --justify-content: center;
    --align-items: center;
    margin: 30px;
}

.meeting-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.meeting-box:hover {
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.1s linear;
    cursor: pointer;
}

.meeting-img {
    border-radius: 50%;
    border: solid 1px black;
    width: 110px;
    height: 110px;
}

.meeting-img-ex {
	border-radius: 50%;
    border: solid 1px black;
    width: 110px;
    height: 110px;
}

#meeting-content-box {
	display: flex;
    flex-direction: column;
    margin-left: 30px;
    justify-content: center;
}