@charset "UTF-8";
/* 메인 */
table{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
/* 헤더부분(공지사항) */
.mainHeader{
	width:65%;
	height: 250px;
	margin: 0 auto;
	background-image: url(../../images/notice/pool.jpg);
	background-position: bottom;
	background-repeat: no-repeat;
	display: flex;
/* 	justify-content: center; */
	align-items: center;
	color:white;
}
/* 헤더부분(문의사항) */
.mainHeaderI{
	width:65%;
	height: 250px;
	margin: 0 auto;
	background-image: url(../../images/notice/court2.jpg);
	background-position: right;
	background-repeat: no-repeat;
	display: flex;
/* 	justify-content: center; */
	align-items: center;
	color:white;
}
/* 메인테이블 */
.mainCenter{
  width: 65%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
}
	.titleWrap{
		width: 65%;
		margin-left: 50px;
	}
		.titleWrap p:first-child{
			font-size: 40px;
			font-weight: 600;
		}
		.titleWrap p:last-child{
			font-size: 20px;
		}
table th{
	width: 20%;
	font-size: 20px;
	font-weight: bolder;
}
table td{
	width: 80%;
	font-size: 16px;
}
.mainCenter .contentWrap{
	width: 90%;
	margin: 0 auto;
	margin-bottom: 1rem;
}
/* 좋아요부분 */
.likeWrap {
    display: flex;
    justify-content: center;
	margin: 20px;
}

/* 버튼부분 */
.mainFooter{
  width: 65%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
}
	#buttonTag{
		display: flex;
	}
		#buttonTag button{
			margin-left: 20px;
		}

.btn-secondary{
	background-color: #607EAA;
	border-color: #607EAA;
}
.btn-primary{
	background-color: #1C3879;
	border-color: #1C3879;
}
.btn-outline-light{
	--bs-btn-hover-bg: #EAE3D2;
	border-color: #EAE3D2;
	color: #cfbe98;
}
/* 모달창 글씨*/
.modal-content{
	color: #1C3879;
}

#line{
	border: 0.5px solid #dee2e6;
}
/* 댓글부분(문의사항) */
#main  #commentArea{
	width: 90%;
	margin: 0 auto;
	margin-top: 1rem;
}
	#main  #commentArea h5{
		font-size: 20px;
		font-weight: bolder;
	}
	#main #commentInput{
		margin-bottom: 8px;
	}
	input#commentContent {
		width: 90%;
	}
	#main #commentOutput .comment{
		padding-bottom: 8px;
		margin: 0 auto;
		width: 97%;
		border-bottom: 0.5px solid #dee2e6;
	}
		#main .comment span:first-child{
			/* font-size: larger; */
		}
		#main .comment span:last-child{
		}

/* 좋아요부분(문의사항) */
.likeWrap #insertLike{
	border: none;
	background: none;
}

span.like {
	display: block;
    font-size: 20px;
    color: cornflowerblue;
	margin-top: 20px;
}

/* 부트스트랩때문에 내비바 움직임 방지*/
ol, ul {
    padding-left: 0;
}