@charset "UTF-8";
.main{
  width: 65%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
}
#titleArea{
	margin-top: 15px;
	margin-bottom: 15px;
}
.filename{
	margin-top: 10px;
	margin-bottom: 10px;
}