@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular'; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#regi-container {
    width: 100%;
    height: 700px;
    background-image: url(/resources/images/user/the-ball.jpg);
    background-size: cover;
    padding-top: 10vh;
}
    #regi-box {
        width: 30%;
        height: 500px;
        margin: 0 auto;
        background-color: rgba(179, 179, 179, 0.548);  
        line-height: 2.6; 
    }
        #regi-msg {
            text-align: center;
        }
            #regi-msg h3 {
                color: #072364;
                margin-top: 20px;
            }
            #regi-msg p {
                font-size: 15px;
                color: #ffffffe3;
                margin-bottom: 20px;
            }
        #regi-area table {
            width: 100%;
        }
        #regi-area th {
            width: 30%;
            color: #133383;
            text-align: right;
            padding-right: 10px;
        }
        #regi-area [type=text], [type=password] {
            width: 50%;
            height: 35px;
            border: none;
            border-radius: 5px;
        }
        #regi-area [type=button] {
            width: 80px;
            height: 30px;
            border: 1.5px solid rgba(12, 51, 134, 0.685);
            border-radius: 5px;
            background-color: rgba(12, 51, 134, 0.685);
            color: #eeeeee;
        }
        #regi-area [type=button]:hover {
            background-color: rgba(3, 165, 3, 0.664);
            border: none;
            color: #eeeeee;
            cursor: pointer;
        }
    #join-btn {
        text-align: center;
    }    
        #join-btn [type=submit]{
            width: 150px;
            height: 40px;
            border: none;
            background-color: rgba(6, 129, 6, 0.904);
            border-radius: 5px;
            color: #eeeeee;
            margin: 15px;
            text-align: center;
        }
        #join-btn [type=submit]:hover {
            background-color: rgba(5, 37, 107, 0.651);
            cursor: pointer;
        }
        