@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular'; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#regi-container {
    width: 100%;
    height: 700px;
    background-image: url(/resources/images/user/the-ball.jpg);
    background-size: cover;
    padding-top: 10vh;
}
    #regi-box {
        width: 30%;
        height: 450px;
        margin: 0 auto;
        background-color: rgba(179, 179, 179, 0.548);  
        line-height: 2.5; 
    }
        #regi-msg {
            text-align: center;
        }
            #regi-msg h3 {
                color: #1245bb;
                margin-top: 20px;
            }
            #regi-msg p {
                font-size: 15px;
                color: #ffffffe3;
                margin-bottom: 20px;
            }
        #regi-area table {
            width: 100%;
        }
        #regi-area th {
            width: 30%;
            color: #133383;
            text-align: right;
            padding-right: 10px;
        }
        #regi-area [type=text], [type=password] {
            width: 55%;
            height: 30px;
            border: none;
            border-radius: 5px;
        }
        #regi-area [type=button] {
            width: 80px;
            height: 25px;
            border: 1.5px solid #1245bb7c;
            border-radius: 5px;
            background-color: #1245bb00;
            color: #133383;
        }
        #regi-area [type=button]:hover {
            background-color: rgba(19, 73, 145, 0.63);
            border: none;
            color: rgb(219, 219, 219);
        }
    #join-btn {
        text-align: center;
    }    
        #join-btn [type=submit]{
            width: 150px;
            height: 40px;
            border: none;
            background-color: #969696dc;
            border-radius: 5px;
            color: #eeeeee;
            margin: 15px;
            text-align: center;
        }
        #join-btn [type=submit]:hover {
            background-color: rgba(228, 80, 80, 0.74);
            cursor: pointer;
        }
        