@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular'; 
}

#main {
    width: calc(100% - 200px);
    height: 1000px;
    border-top: 1px solid rgb(242, 242, 242);
    padding-bottom: 50px;
    padding-left: 20px;
    margin: 0 auto;
}
#list-title {
    width: 600px;
    height: 150px;
    margin: 50px auto;
    text-align: center;
    padding: 10px;
}
    #list-title p {
        font-size: 21px;
        padding: 5px;
        padding-left: 30px;
        padding-right: 30px;
        border-bottom: 2px solid #0645daab;    
    }
    #list-title span {
        margin: 30px;
        font-size: 18px;
        color: #555555;
    }
    #charge-btn {
        width: 250px;
        height: 40px;
        border: none;
        background-color: #0645daab;
        border-radius: 5px;
        color: #fafafa;
        margin: 30px;
        font-size: 16px;
    }
        #charge-btn:hover {
            color: #32529ec2;
            background-color: #d8d8d885;
            font-weight: 800;
            cursor: pointer;
        }
#list-wrapper {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
    #point-list {
        width: 600px;
        display: block;
        margin: 0 auto;
        line-height: 3;
        text-align: center;
    }
        .table-line2 {
            width: 600px;
            border-bottom: 1px solid #ccc;
            display: table;
            padding-right: 10px;
            padding-left: 10px;
        }
         .table-line {
            width: 600px;
            border-bottom: 1px solid #ccc;
            display: table;
            padding-right: 10px;
            padding-left: 10px;
        }
        .table-line img {
            width: 30px;
            height: 30px;
            margin-top: 20px;
            
        }
        #point-list:first-child {
            border-top: 1px solid #ccc;
        }
    #ad-box {
    width: 200px;
    height: 600px;
       background-image: url(/resources/images/point/ad.png);
       background-repeat: no-repeat;
       background-size: 100%;
       cursor: pointer;
    }


/*페이징///////////////////////////////////////*/
#navi-box {
    width: 800px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    padding-top: 30px;
    padding-right: 200px;
}
    #navi-box a{
        text-decoration: none;
        color: #1b5dff;
    }
        #navi-box a:link{
            color: #1b5dff;
        }
        #navi-box a:visited{
            color: #1b5dff;
        }
    #navi-btn1{
        padding: 8px;
        border-radius: 10px;
        font-weight: 900;
    }
    #navi-btn2{
        padding: 8px;
        margin-right: 20px;
        border-radius: 10px;
        font-weight: 900;
    }
    .navi-btn3{
        font-size: 13px;
        padding: 7px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px;
    }
        .navi-btn3:hover{
            cursor: pointer;
            font-size: 14px;
            font-weight: 800;
            background-color: #ebebeb;
        }
    #navi-btn4{
        padding: 8px;
        margin-left: 20px;
        border-radius: 10px;
        font-weight: 900;
    }  
    #navi-btn5{
        padding: 8px;
        border-radius: 10px;
        font-weight: 900;
    }