<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BookMapper">
	<resultMap type="Book" id="BookResultMap">
		<id 	property="bookNo" 			column="BOOK_NO"/>
		<result property="facilityNo" 		column="FACILITY_NO"/>
		<result property="userNo"     	 	column="USER_NO"/>
		<result property="useDate" 	   		column="USE_DATE"/>		
		<result property="startTime" 	    column="START_TIME"/>
		<result property="endTime" 			column="END_TIME"/>
		<result property="bookPrice" 		column="BOOK_PRICE"/>
		<result property="numPeople" 		column="NUM_PEOPLE"/>
		<result property="payTime" 			column="PAY_TIME"/>
		<result property="paidPrice"		column="PAID_PRICE"/>
		<result property="facilityName" 	column="FACILITY_NAME"/>
		<result property="centerName" 		column="CENTER_NAME"/>
		<result property="centerFilepath1" 	column="CENTER_FILEPATH1"/>
		<result property="userName" 		column="USER_NAME"/>
		<result property="userEmail" 		column="USER_EMAIL"/>
		<result property="userPoint" 		column="USER_POINT"/>
	
	</resultMap>
	<!-- 내 내역 조회 -->
	<select id ="selectMyBList" resultMap="BookResultMap">
		SELECT BOOK_NO, USER_NO, USE_DATE, START_TIME, END_TIME, NUM_PEOPLE, FACILITY_NAME, CENTER_NAME, CENTER_FILEPATH1 FROM BOOK_TBL JOIN FACILITIES_TBL USING(FACILITY_NO) JOIN CENTER_TBL USING(CENTER_NO) WHERE USER_NO = #{userNo} AND START_TIME >= SYSDATE AND PAY_TIME IS NOT NULL ORDER BY START_TIME ASC
	</select>
	<!-- 캘린더용 -->
	<select id="selectBListCal" resultMap="BookResultMap">
		SELECT USE_DATE ,START_TIME ,END_TIME ,NUM_PEOPLE FROM BOOK_TBL WHERE FACILITY_NO=#{facilityNo} AND PAY_TIME IS NOT NULL
	</select>
	<!-- 가예약정보 미리 저장하는 용도로 시퀀스 불러오기(nextval은 셀렉트하는 동시에 번호생성가능 -->
	<select id="getSequence" resultType="_int">
		SELECT SEQ_BOOK_NO.NEXTVAL FROM DUAL
	</select>
	<!-- 가예약정보 불러오기 -->
	<select id="selectBook" resultMap="BookResultMap">
	SELECT * FROM BOOK_TBL RIGHT JOIN USER_TBL USING(USER_NO) RIGHT JOIN POINT_TBL USING(USER_NO) LEFT JOIN FACILITIES_TBL USING(FACILITY_NO) LEFT JOIN CENTER_TBL USING(CENTER_NO) WHERE BOOK_NO=#{bookNo}
	</select>	
	<!-- 가예약정보저장하기 -->
	<insert id="insertBook">
		INSERT INTO BOOK_TBL VALUES(#{bookNo}, #{facilityNo}, #{userNo}, #{useDate}, #{startTime}, #{endTime}, #{bookPrice}, #{numPeople}, NULL, NULL)
	</insert>
	<insert id="insertPDetail">
		INSERT INTO P_DETAIL_TBL VALUES(SEQ_POINT_NO.NEXTVAL, #{userNo}, SYSTIMESTAMP, '시설예약차감', -#{pointChange})
	</insert>
	<!--예약 완료시 payTime, paidPrice 업뎃치기(결제될때 SYSTIMESTAMP로들어가기) -->
	<update id="updatePayTime">
		UPDATE BOOK_TBL SET PAY_TIME=SYSTIMESTAMP, PAID_PRICE=#{paidPrice} WHERE BOOK_NO = #{bookNo}
	</update>
</mapper>
