<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CenterMapper">

	<resultMap type="Center" id="centerResultMap">
		<id property="centerNo" column="CENTER_NO"/>
		<result property="centerName" column="CENTER_NAME"/>
		<result property="centerAddr" column="CENTER_ADDR"/>
		<result property="centerSnaddr" column="CENTER_SNADDR"></result>
		<result property="centerTel" column="CENTER_TEL"/>
		<result property="centerFilename1" column="CENTER_FILENAME1"/>
		<result property="centerFilepath1" column="CENTER_FILEPATH1"/>
		<result property="centerFilename2" column="CENTER_FILENAME2"/>
		<result property="centerFilepath2" column="CENTER_FILEPATH2"/>
	</resultMap>
	
	<resultMap type="Search" id="searchResultMap">
		<result property="centerName" column="CENTER_NAME"></result>
		<result property="centerAddr" column="CENTER_ADDR"></result>
		<result property="centerSnaddr" column="CENTER_SNADDR"></result>
		<result property="centerTel" column="CENTER_TEL"></result>
	</resultMap>


	<!-- 지점 등록 -->
	<insert id="insertCenter">
		INSERT INTO CENTER_TBL VALUES(SEQ_CENTER_NO.NEXTVAL, #{centerName}, #{centerAddr}, #{centerTel}, #{centerFilename1}, #{centerFilepath1}, #{centerFilename2}, #{centerFilepath2}, #{centerSnaddr})
	</insert>
	
	<!-- 지점 상세조회 -->
	<select id="selectCenterOne" resultMap="centerResultMap">
		SELECT * FROM CENTER_TBL WHERE CENTER_NO = #{centerNo }
	</select>
	
	<!-- 지점목록 조회 -->
	<select id="selectCenter" resultMap="centerResultMap">
		SELECT * FROM CENTER_TBL
	</select>
	
	<!-- 지점정보 수정 -->
<!-- 	<update id="updateCenter"> -->
<!-- 		UPDATE CENTER_TBL SET CENTER_NAME = #{centerName}, CENTER_ADDR = #{centerAddr}, CENTER_TEL = #{centerTel}, CENTER_FILENAME1 = #{reloadFile1}, CENTER_FILENAME2 = #{reloadFile2} WHERE CENTER_NO = #{centerNo} -->
<!-- 	</update> -->
	<update id="updateCenter" parameterType="center">
	    UPDATE CENTER_TBL SET 
	        CENTER_NAME = #{centerName}, 
	        CENTER_ADDR = #{centerAddr}, 
	        CENTER_SNADDR = #{centerSnaddr},
	        CENTER_TEL = #{centerTel}
	        <if test="centerFilename1 != null">, CENTER_FILENAME1 = #{centerFilename1}</if>
	        <if test="centerFilename2 != null">, CENTER_FILENAME2 = #{centerFilename2}</if>
	    WHERE CENTER_NO = #{centerNo}
	</update>
	
	<!-- 지점정보 수정화면 페이지 -->
	<select id="selectOneById" resultMap="centerResultMap">
		SELECT * FROM CENTER_TBL WHERE CENTER_NO = #{centerNo }
	</select>
	
	<!-- 지점 삭제 -->
	<delete id="deleteCenter">
		DELETE FROM CENTER_TBL WHERE CENTER_NO = #{centerNo}
	</delete>
	
	
	
	
	
	<!-- 지점 목록(회원서비스) -->
	<select id="selectuserCenter" resultMap="searchResultMap">
		SELECT * FROM CENTER_TBL WHERE CENTER_NAME LIKE '%' || #{centerName} || '%' ORDER BY 1 ASC
	</select>
	
	<!-- 지점 검색(회원서비스) -->
	<select id="selectSearch" resultMap="centerResultMap">
		SELECT * FROM CENTER_TBL WHERE CENTER_NAME LIKE '%' || #{centerName} || '%'
	</select>
</mapper>