<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommentMapper">
	<resultMap id="commentResultMap" type="Comment">
		<id property="commentNo" column="COMMENT_NO"/>
		<result property="userNo" column="USER_NO"/>
		<result property="inquiriesNo" column="INQUIRIES_NO"/>
		<result property="commentContent" column="COMMENT_CONTENT"/>
		<result property="cCreateDate" column="C_CREATE_DATE"/>
	</resultMap>
	<resultMap id="commentJoinResultMap" type="CommentJoin">
		<id property="commentNo" column="COMMENT_NO"/>
		<result property="userNo" column="USER_NO"/>
		<result property="inquiriesNo" column="INQUIRIES_NO"/>
		<result property="commentContent" column="COMMENT_CONTENT"/>
		<result property="cCreateDate" column="C_CREATE_DATE"/>
		<result property="userName" column="USER_NAME"/>
	</resultMap>
	
<!--	댓글등록 -->
	<insert id="writeComment">
		INSERT INTO COMMENT_TBL VALUES(SEQ_COMMENT_NO.NEXTVAL, #{userNo}, #{inquiriesNo}, #{commentContent}, DEFAULT)
	</insert>
	
<!-- 	댓글목록 -->
	<select id="getCommentList" resultMap="commentJoinResultMap">
		SELECT C.*, U.USER_NAME FROM COMMENT_TBL C JOIN USER_TBL U ON C.USER_NO = U.USER_NO WHERE INQUIRIES_NO = #{inquiriesNo}		
	</select>
	
<!-- 	댓글삭제 -->
	<delete id="deleteComment">
		DELETE FROM COMMENT_TBL WHERE COMMENT_NO = #{commentNo}
	</delete>
</mapper>