<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DiaryMapper">
	<resultMap type="Diary" id="diaryResultMap">
		<id 	property="diaryNo" 			column="DIARY_NO" />
		<result property="userNo" 			column="USER_NO" />
		<result property="diaryTitle" 		column="DIARY_TITLE" />
		<result property="diaryDetail" 		column="DIARY_DETAIL"/>
		<result property="diaryDate" 		column="DIARY_DATE"/>
		<result property="diaryFilename" 	column="DIARY_FILENAME"/>
		<result property="diaryFilepath" 	column="DIARY_FILEPATH" />
	</resultMap>
	
	<!-- insert -->
	<insert id="insertDiary">
		INSERT INTO DIARY_TBL VALUES(SEQ_DIARY_NO.NEXTVAL, #{userNo}, #{diaryTitle}, #{diaryDetail}, DEFAULT, #{diaryFilename}, #{diaryFilepath})
	</insert>
	
	<delete id="deleteDiary">
		DELETE FROM DIARY_TBL WHERE DIARY_NO = #{diaryNo}
	</delete>
	
	<update id="modifyDiary">
		UPDATE DIARY_TBL SET DIARY_TITLE = #{diaryTitle}, DIARY_DETAIL = #{diaryDetail}, DIARY_DATE = SYSDATE WHERE DIARY_NO = #{diaryNo}
	</update>
	
	
	<!-- select -->
	<select id="getTotalCount" resultType="_int">
		SELECT COUNT(*) FROM DIARY_TBL WHERE USER_NO = #{userNo}
	</select>
	<select id="selectDiaryList" resultMap="diaryResultMap">
		SELECT * FROM DIARY_TBL WHERE USER_NO = #{userNo}
	</select>
	<select id="selectByDiaryNo" resultMap="diaryResultMap">
		SELECT * FROM DIARY_TBL WHERE DIARY_NO = #{diaryNo}
	</select>
</mapper>