<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="InquiryMapper">
	<resultMap type="Inquiry" id="inquiryResultMap">
		<id property="inquiriesNo" column="INQUIRIES_NO"/>
		<result property="bookNo" column="BOOK_NO"/>
		<result property="userNo" column="USER_NO"/>
		<result property="inquiriesCategory" column="INQUIRIES_CATEGORY"/>
		<result property="inquiriesTitle" column="INQUIRIES_TITLE"/>
		<result property="qCreateDate" column="Q_CREATE_DATE"/>
		<result property="qUpdateDate" column="Q_UPDATE_DATE"/>
		<result property="inquiriesViews" column="INQUIRIES_VIEWS"/>
		<result property="inquiriesFilename" column="INQUIRIES_FILENAME"/>
		<result property="inquiriesFilepath" column="INQUIRIES_FILEPATH"/>
		<result property="inquiriesFilerename" column="INQUIRIES_FILERENAME"/>
		<result property="inquiriesSecret" column="INQUIRIES_SECRET"/>
		<result property="inquiriesLikes" column="INQUIRIES_LIKES"/>
		<result property="secretNo" column="SECRET_NO"/>
		<result property="inquiriesContent" column="INQUIRIES_CONTENT" jdbcType="CLOB" javaType="java.lang.String"/>
		<result property="isAdminComment" column="IS_ADMIN_COMMENT"/>
	</resultMap>
<!-- 	Join용 resultMap -->
	<resultMap type="InquiryJoin" id="inquiryJoinResultMap">
		<id property="inquiriesNo" column="INQUIRIES_NO"/>
		<result property="bookNo" column="BOOK_NO"/>
		<result property="userNo" column="USER_NO"/>
		<result property="inquiriesCategory" column="INQUIRIES_CATEGORY"/>
		<result property="inquiriesTitle" column="INQUIRIES_TITLE"/>
		<result property="qCreateDate" column="Q_CREATE_DATE"/>
		<result property="qUpdateDate" column="Q_UPDATE_DATE"/>
		<result property="inquiriesViews" column="INQUIRIES_VIEWS"/>
		<result property="inquiriesFilename" column="INQUIRIES_FILENAME"/>
		<result property="inquiriesFilepath" column="INQUIRIES_FILEPATH"/>
		<result property="inquiriesFilerename" column="INQUIRIES_FILERENAME"/>
		<result property="inquiriesSecret" column="INQUIRIES_SECRET"/>
		<result property="inquiriesLikes" column="INQUIRIES_LIKES"/>
		<result property="userName" column="USER_NAME"/>
		<result property="secretNo" column="SECRET_NO"/>
		<result property="inquiriesContent" column="INQUIRIES_CONTENT" jdbcType="CLOB" javaType="java.lang.String"/>
		<result property="isAdminComment" column="IS_ADMIN_COMMENT"/>
	</resultMap>
	
<!-- 	문의사항 리스트 -->
	<select id="selectAllInquiry" resultMap="inquiryJoinResultMap">
		SELECT I.*, U.USER_NAME FROM INQUIRIES_TBL I JOIN USER_TBL U ON I.USER_NO = U.USER_NO ORDER BY Q_CREATE_DATE DESC
	</select>
	
<!-- 	페이징처리(문의사항 총 갯수) -->
	<select id="getInquiryCount" resultType="_int">
		SELECT COUNT(*) FROM INQUIRIES_TBL
	</select>
	
<!-- 	페이징처리(문의사항 검색 총 갯수) -->
	<select id="getSearchInquiryCount" resultType="_int">
		SELECT COUNT(*) FROM INQUIRIES_TBL 
		<where>
			<if test="searchCondition == 'title'">INQUIRIES_TITLE LIKE '%' || #{searchValue} || '%'</if>
			<if test="searchCondition == 'content'">INQUIRIES_CONTENT LIKE '%' || #{searchValue} || '%'</if>
		</where>
	</select>
	
<!-- 	문의사항 검색 리스트 -->
	<select id="searchInquiry" resultMap="inquiryJoinResultMap">
		SELECT I.*, U.USER_NAME FROM INQUIRIES_TBL I JOIN USER_TBL U ON I.USER_NO = U.USER_NO
		<where>
			<if test="searchCondition == 'title'">INQUIRIES_TITLE LIKE '%' || #{searchValue} || '%'</if>
			<if test="searchCondition == 'content'">INQUIRIES_CONTENT LIKE '%' || #{searchValue} || '%'</if>
		</where>
		ORDER BY Q_CREATE_DATE DESC
	</select>
	
<!-- 	문의사항 등록 -->
	<insert id="insertInquiry">
		INSERT INTO INQUIRIES_TBL VALUES(SEQ_INQUIRIES_NO.NEXTVAL, NULL, #{userNo}, #{inquiriesCategory}, #{inquiriesTitle}, DEFAULT, NULL, DEFAULT, #{inquiriesFilename}, #{inquiriesFilepath}, #{inquiriesFilerename}, #{inquiriesSecret}, DEFAULT, #{secretNo}, #{inquiriesContent})
	</insert>
	
<!--	문의사항 디테일-->
	<select id="detailInquiry" resultMap="inquiryJoinResultMap">
		SELECT I.*, U.USER_NAME FROM INQUIRIES_TBL I JOIN USER_TBL U ON I.USER_NO = U.USER_NO WHERE INQUIRIES_NO = #{inquiriesNo}
	</select>
	
<!-- 	문의사항 비밀번호체크 -->
	<select id="checkSecretNo" resultMap="inquiryJoinResultMap">
		SELECT I.*, U.USER_NAME FROM INQUIRIES_TBL I JOIN USER_TBL U ON I.USER_NO = U.USER_NO WHERE INQUIRIES_NO = #{inquiriesNo} AND SECRET_NO = #{secretNo}
	</select>
	
<!-- 	문의사항 수정 -->
	<update id="modifyInquiry">
		UPDATE INQUIRIES_TBL SET INQUIRIES_CATEGORY = #{inquiriesCategory}, INQUIRIES_TITLE = #{inquiriesTitle}, INQUIRIES_CONTENT = #{inquiriesContent}, Q_UPDATE_DATE = DEFAULT, INQUIRIES_FILENAME = #{inquiriesFilename}, INQUIRIES_FILEPATH = #{inquiriesFilepath}, INQUIRIES_FILERENAME = #{inquiriesFilerename}, SECRET_NO = #{secretNo} WHERE INQUIRIES_NO = #{inquiriesNo}
	</update>
	
<!-- 	문의사항 삭제 -->
	<delete id="deleteInquiry">
		DELETE FROM INQUIRIES_TBL WHERE INQUIRIES_NO = #{inquiriesNo}
	</delete>
	
<!--	좋아요등록-->
	<update id="updateLike">
		UPDATE INQUIRIES_TBL SET INQUIRIES_LIKES = INQUIRIES_LIKES + 1 WHERE INQUIRIES_NO = #{inquiriesNo}
	</update>
	
<!--	좋아요리스트-->
	<select id="getTotalLike" resultMap="inquiryResultMap">
		SELECT INQUIRIES_LIKES FROM INQUIRIES_TBL WHERE INQUIRIES_NO = #{inquiriesNo}		
	</select>
	
<!--	상단고정게시물-->
	<select id="getTopInquiry" resultMap="inquiryJoinResultMap">
		SELECT I.*, U.USER_NAME FROM (SELECT * FROM INQUIRIES_TBL ORDER BY INQUIRIES_LIKES DESC) I JOIN USER_TBL U ON I.USER_NO = U.USER_NO <![CDATA[WHERE ROWNUM <= 5]]>
	</select>
	
<!--	관리자페이지(페이징처리)-->
	<select id="getAdminInquiryCount" resultType="_int">
		SELECT COUNT(*) FROM INQUIRIES_TBL WHERE IS_ADMIN_COMMENT = 'N'
	</select>
	
<!--	관리자페이지-->
	<select id="selectAdminInquiry" resultMap="inquiryJoinResultMap">
		SELECT I.*, U.USER_NAME FROM INQUIRIES_TBL I JOIN USER_TBL U ON I.USER_NO = U.USER_NO WHERE IS_ADMIN_COMMENT = 'N' ORDER BY Q_CREATE_DATE ASC
	</select>
	
<!--	마이페이지(페이징처리)-->
	<select id="getMyInquiryCount" resultType="_int">
		SELECT COUNT(*) FROM INQUIRIES_TBL WHERE USER_NO = #{userNo}
	</select>
	
<!--	마이페이지 -->
	<select id="myInquiryList" resultMap="inquiryResultMap">
		SELECT * FROM INQUIRIES_TBL WHERE USER_NO = #{userNo} ORDER BY Q_CREATE_DATE DESC
	</select>
</mapper>