<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MeetingMapper">
	<resultMap id="meetingResultMap" type="com.kh.spouting.meeting.domain.Meeting">
		<id 	property="meetingNo" 		 column="MEETING_NO"/>
		<result property="readerNo" 		 column="READER_NO"/>
		<result property="meetingName" 		 column="MEETING_NAME"/>
		<result property="meetingDetail" 	 column="MEETING_DETAIL"/>		
		<result property="meetingPeople" 	 column="MEETING_PEOPLE"/>
		<result property="meetingDay" 		 column="MEETING_DAY"/>
		<result property="meetingFilename" 	 column="MEETING_FILENAME"/>		
		<result property="meetingFileRename" column="MEETING_FILERENAME"/>
		<result property="meetingFilepath" 	 column="MEETING_FILEPATH"/>
	</resultMap>
	
	
	<resultMap id="allMemberListResultMap" type="com.kh.spouting.meeting.domain.AllMemberProfile">
		<id 	property="userNo" 			 column="USER_NO"/>
		<result property="userName" 		 column="USER_NAME"/>
		<result property="profileFileRename" column="PROFILE_FILERENAME"/>
		<result property="profileIntoduce" 	 column="PROFILE_INTRODUCE"/>		
	</resultMap>
	
	
	<!-- select -->
	<select id="selectMeeting" resultMap="meetingResultMap">
		SELECT * FROM MEETING_TBL WHERE MEETING_DAY > SYSTIMESTAMP ORDER BY MEETING_DAY ASC
	</select>
	
	<insert id="insertMeeting">
		INSERT INTO MEETING_TBL VALUES(SEQ_MEETING_NO.NEXTVAL, #{readerNo}, #{meetingName}, #{meetingDetail}, #{meetingPeople}
		, #{meetingDay}, #{meetingFilename},#{meetingFileRename}, #{meetingFilepath})
	</insert>
	
	<select id="selectOneMeeting" resultMap="meetingResultMap">
		SELECT * FROM MEETING_TBL WHERE MEETING_NO = #{meetingNo}
	</select>
	
	<insert id="joinMeeting">
		INSERT INTO LINEUP_TBL VALUES(#{meetingNo}, #{userNo})
	</insert>
	
	<select id="getLineupCount" resultType="_int">
		SELECT COUNT(*) FROM LINEUP_TBL WHERE MEETING_NO = #{userNo}
	</select>
	
	<select id="getReaderProfile" resultType="string">
		SELECT U.USER_NAME, S.USER_NO, S.PROFILE_FILERENAME, S.PROFILE_INTRODUCE
		FROM SNS_TBL S
		JOIN MEETING_TBL M
		ON S.USER_NO = M.READER_NO
		JOIN USER_TBL U
		ON S.USER_NO = U.USER_NO
		WHERE M.MEETING_NO = #{meetingNo} AND S.USER_NO = #{readerNo} 
	</select>
	
	<select id="getReaderProfile2" resultMap="allMemberListResultMap">
		SELECT U.USER_NAME, S.USER_NO, S.PROFILE_FILERENAME, S.PROFILE_INTRODUCE
		FROM SNS_TBL S
		JOIN MEETING_TBL M
		ON S.USER_NO = M.READER_NO
		JOIN USER_TBL U
		ON S.USER_NO = U.USER_NO
		WHERE M.MEETING_NO = #{meetingNo} AND S.USER_NO = #{readerNo} 
	</select>
	
	<select id="getAllMemberList" resultMap="allMemberListResultMap">
		SELECT U.USER_NAME, S.USER_NO, S.PROFILE_FILERENAME, S.PROFILE_INTRODUCE
		FROM SNS_TBL S
		JOIN LINEUP_TBL L
		ON S.USER_NO = L.USER_NO
		JOIN USER_TBL U
		ON S.USER_NO = U.USER_NO
		WHERE L.MEETING_NO = #{meetingNo}
	</select>
	
	<delete id="deleteMeeting">
		DELETE FROM MEETING_TBL WHERE MEETING_NO = #{meetingNo}
	</delete>
	
	<select id="selectMyList" resultMap="meetingResultMap">
		SELECT * 
		FROM MEETING_TBL M
		JOIN LINEUP_TBL L
		ON M.MEETING_NO = L.MEETING_NO
		WHERE L.USER_NO = #{userNo} OR M.READER_NO = #{userNo}
		ORDER BY MEETING_DAY DESC
	</select>
	
</mapper>
