<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PointMapper">
	<resultMap type="Point" id="pointResultMap">
		<id 	property="pointNo" 			column="POINT_NO" />
		<result property="userNo" 			column="USER_NO" />
		<result property="pointDate" 		column="POINT_DATE" />
		<result property="pointDetail" 		column="POINT_DETAIL"/>
		<result property="pointChange" 		column="POINT_CHANGE"/>
		<result property="userPoint"		column="USER_POINT"/>
		<result property="pointBuy"		column="POINT_CHANGE"/>
	</resultMap>
	
	<!-- insert -->
	<insert id="insertPoint">
		INSERT INTO P_DETAIL_TBL VALUES(SEQ_POINT_NO.NEXTVAL, #{userNo}, DEFAULT, '충전', #{pointBuy})
	</insert>
	
	
	
	<!-- select -->
	<select id="selectUserPoint" resultType="_int" >
		SELECT USER_POINT FROM POINT_TBL WHERE USER_NO = #{userNo}
	</select>
	<select id="selectPointDetail" resultMap="pointResultMap">
		SELECT * FROM P_DETAIL_TBL WHERE USER_NO = #{userNo} ORDER BY 1 DESC
	</select>
	<select id="getPointCount" resultType="_int" >
		SELECT COUNT(*) FROM P_DETAIL_TBL WHERE USER_NO = #{userNo}
	</select>
</mapper>