<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductMapper">

	<resultMap type="Product" id="productResultMap">
		<id property="productNo" column="PRODUCT_NO"/>
		<result property="categoryNo" column="CATEGORY_NO"/>
		<result property="productName" column="PRODUCT_NAME"/>
		<result property="productPrice" column="PRODUCT_PRICE"/>
		<result property="productDescription" column="PRODUCT_DESCRIPTION"/>
		<result property="productFilename1" column="PRODUCT_FILENAME1"/>
		<result property="productFilename2" column="PRODUCT_FILENAME2"/>
		<result property="productFilepath1" column="PRODUCT_FILEPATH1"/>
		<result property="productFilepath2" column="PRODUCT_FILEPATH2"/>
	</resultMap>
	<resultMap type="Category" id="categoryResultMap">
		<id property="categoryNo" column="CATEGORY_NO"/>
		<result property="categoryName" column="CATEGORY_NAME"/>
	</resultMap>

	<!--페이징 처리-->
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) FROM PRODUCT_TBL
	</select>
	
	<!--카테고리 별 상품 목록 전체 조회-->
	<select id="getListCountByCate" resultType="_int">
		SELECT COUNT(*) FROM PRODUCT_TBL 
		WHERE CATEGORY_NO IN  
		<foreach collection="array" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	
	<!-- 검색 페이징 -->
	<select id="getSearchProductCount" resultType="_int">
		SELECT COUNT(*) FROM PRODUCT_TBL
		<where>
			<if test="searchCondition == 'no'">PRODUCT_NO LIKE '%' || #{searchValue} || '%'</if>
			<if test="searchCondition == 'title'">PRODUCT_NAME LIKE '%' || #{searchValue} || '%'</if>
			<if test="searchCondition == 'description'">PRODUCT_DESCRIPTION LIKE '%' || #{searchValue} || '%'</if>
			<!-- 검색 결과 값을 가져오지 못하는 문제 -> 전체 검색이 있기 때문에 all 로 검색하는 코드를 수정해야 함 -->
			<if test="searchCondition == 'all'">
				PRODUCT_NO LIKE '%' || #{searchValue} || '%' or 
				PRODUCT_NAME LIKE '%' || #{searchValue} || '%' or
				PRODUCT_DESCRIPTION LIKE '%' || #{searchValue} || '%'
			</if>
		</where>
	</select>
	
	<!--상품 목록 전체 조회-->
	<select id="selectProductList" resultMap="productResultMap">
	  SELECT PRODUCT_NO, PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_FILENAME1
	  FROM PRODUCT_TBL
	  ORDER BY CATEGORY_NO
	</select>
	
	<!--상품 1차 카테고리 목록 조회-->
	<select id="selectCateProduct1" resultMap="productResultMap">
	    SELECT 
	        P.PRODUCT_NO, P.PRODUCT_NAME, P.CATEGORY_NO, C.CATEGORY_NO, C.CATEGORY_NAME,
	        PRODUCT_PRICE, PRODUCT_DESCRIPTION, PRODUCT_FILENAME1
	    FROM PRODUCT_TBL P
	        INNER JOIN CATEGORY_TBL C
	        ON P.CATEGORY_NO = C.CATEGORY_NO
	    WHERE P.CATEGORY_NO IN
	        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
	            #{item}
	        </foreach>
	</select>

	<!--상품 2차 카테고리 목록 조회-->
	<select id="selectCateProduct2" resultMap="productResultMap">
		SELECT 
		    P.PRODUCT_NO, P.PRODUCT_NAME, P.CATEGORY_NO, C.CATEGORY_NO, C.CATEGORY_NAME,
		    PRODUCT_PRICE, PRODUCT_DESCRIPTION, PRODUCT_FILENAME1
		FROM PRODUCT_TBL P
		    INNER JOIN CATEGORY_TBL C
		    ON P.CATEGORY_NO = C.CATEGORY_NO
		WHERE P.CATEGORY_NO = #{CATEGORY_NO}
	</select>

	<!--검색 결과 조회-->
	<select id="searchProduct" resultMap="productResultMap">
		SELECT * FROM PRODUCT_TBL 
		<if test="searchCondition == 'all'">
			WHERE PRODUCT_NO LIKE '%' || #{searchValue} || '%'
			OR PRODUCT_NAME LIKE '%' || #{searchValue} || '%'
			OR PRODUCT_DESCRIPTION LIKE '%' || #{searchValue} || '%'
		</if>
		<if test="searchCondition == 'no'">
			WHERE PRODUCT_NO LIKE '%' || #{searchValue} || '%'
		</if>
		<if test="searchCondition == 'title'">
			WHERE PRODUCT_NAME LIKE '%' || #{searchValue} || '%'
		</if>
		<if test="searchCondition == 'description'">
			WHERE PRODUCT_DESCRIPTION LIKE '%' || #{searchValue} || '%'
		</if>
		ORDER BY PRODUCT_NO DESC
	</select>
	
	<!--상품 상세 조회-->
	<select id="selectOneByNo" resultMap="productResultMap">
		SELECT * FROM PRODUCT_TBL WHERE PRODUCT_NO = #{productNo}
	</select>
	
	<!-- 장바구니용 상품 상세 조회-->
	<select id="selectOneProduct" resultMap="productResultMap">
		SELECT * FROM PRODUCT_TBL WHERE PRODUCT_NO = #{productNo}
	</select>
	
	<!-- 관리자 상품 등록-->
	<insert id="insertProduct">
		INSERT INTO PRODUCT_TBL PRODUCT_TBL 
		VALUES(SEQ_PRODUCT_NO.NEXTVAL, #{categoryNo}, #{productName}, #{productPrice}, #{productDescription}, #{productFilename1}, #{productFilename2}, #{productFilepath1}, #{productFilepath2})
	</insert>
	
	<!-- 관리자 상품 수정 페이지 -->
	<select id="selectOneById" resultMap="productResultMap">
		SELECT * FROM PRODUCT_TBL WHERE PRODUCT_NO = #{productNo }
	</select>
	
	<!-- 관리자 상품 수정-->
	<update id="updateProduct" parameterType="product">
		UPDATE PRODUCT_TBL SET
			CATEGORY_NO = #{categoryNo}, PRODUCT_NAME=#{productName}, PRODUCT_PRICE=#{productPrice}, PRODUCT_DESCRIPTION=#{productDescription}
			<if test=" productFilename1!= null">, PRODUCT_FILENAME1 = #{productFilename1}</if>
	        <if test=" productFilename2!= null">, PRODUCT_FILENAME1 = #{productFilename2}</if>
	    WHERE PRODUCT_NO = #{productNo}
	</update>

	<!-- 관리자 상품 삭제  -->
	<delete id="deleteProduct">
		DELETE FROM PRODUCT_TBL WHERE PRODUCT_NO = #{productNo}
	</delete>
</mapper>