<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SnsMapper">

	<resultMap id="snsResultMap" type="com.kh.spouting.sns.domain.Sns">
		<id 	property="userNo" 		column="USER_NO"/>
		<result property="profileFilename" 		column="PROFILE_FILENAME"/>
		<result property="profileFilepath" 		column="PROFILE_FILEPATH"/>
		<result property="profileIntoduce" 	column="PROFILE_INTRODUCE"/>		
	</resultMap>

	<resultMap id="snsPhotoResultMap" type="com.kh.spouting.sns.domain.SnsPhoto">
		<id 	property="snsPhotoNo" 		column="SNSPHOTO_NO"/>
		<result property="userNo" 		column="USER_NO"/>
		<result property="snsContent" 		column="SNS_CONTENT"/>
		<result property="snsFilename" 	column="SNS_FILENAME"/>		
		<result property="snsFileRename" 	column="SNS_FILERENAME"/>
		<result property="snsFilepath" 	column="SNS_FILEPATH"/>
		<result property="snsDate" 	column="SNS_DATE"/>
	</resultMap>
	
	<resultMap id="snsProfileResultMap" type="com.kh.spouting.sns.domain.SnsProfile">
		<id 	property="userNo" 		column="USER_NO"/>
		<result property="userName" 		column="USER_NAME"/>
		<result property="profileFilename" 		column="PROFILE_FILENAME"/>
		<result property="profileFilepath" 	column="PROFILE_FILEPATH"/>		
		<result property="profileIntoduce" 	column="PROFILE_INTRODUCE"/>
		<result property="profileFileRename" 	column="PROFILE_FILERENAME"/>
	</resultMap>
	
	<insert id="insertPhoto">
		INSERT INTO SNSPHOTO_TBL VALUES(SEQ_SNSPHOTO_NO.NEXTVAL, #{userNo}, #{snsContent}, #{snsFilename},#{snsFileRename}, #{snsFilepath}, DEFAULT)
	</insert>
	
	<select id="selectOneSns" resultMap="snsProfileResultMap">
		SELECT S.USER_NO, U.USER_NAME, S.PROFILE_FILENAME, S.PROFILE_FILEPATH, S.PROFILE_INTRODUCE, S.PROFILE_FILERENAME
		FROM SNS_TBL S JOIN USER_TBL U ON S.USER_NO = U.USER_NO
		WHERE U.USER_NO = #{userNo}
	</select>
	
	<select id="selectOnsProfile" resultMap="snsResultMap">
		SELECT PROFILE_FILENAME, PROFILE_FILEPATH, PROFILE_INTRODUCE, PROFILE_FILERENAME FROM SNS_TBL WHERE USER_NO = #{userNo}
	</select>
	
	<update id="updateUserProfile">
		UPDATE SNS_TBL SET PROFILE_INTRODUCE = #{profileIntoduce} WHERE USER_NO = #{userNo}
	</update>
	
	<select id="morePhotoList" resultMap="snsPhotoResultMap">
		SELECT * FROM SNSPHOTO_TBL WHERE USER_NO = #{userNo} ORDER BY SNSPHOTO_NO DESC
	</select>
	
	
	<select id="getTotalCount" resultType="_int">
		SELECT COUNT(*) FROM SNSPHOTO_TBL WHERE USER_NO = #{userNo}
	</select>
	
	<update id="updateProfilePhoto">
		UPDATE SNS_TBL SET PROFILE_FILENAME = #{profileFilename}, PROFILE_FILEPATH = #{profileFilepath}, PROFILE_FILERENAME = #{profileFileRename} WHERE USER_NO = #{userNo}
	</update>
	
	<select id="selectDetailPage" resultMap="snsPhotoResultMap">
		SELECT * FROM SNSPHOTO_TBL WHERE SNSPHOTO_NO = #{snsPhotoNo}
	</select>
	
</mapper>
