<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
	<resultMap type="User" id="UserResultMap">
		<id 	property="userNo" 		column="USER_NO"/>
		<result property="userId" 		column="USER_ID"/>
		<result property="userPw" 		column="USER_PW"/>
		<result property="userName" 	column="USER_NAME"/>		
		<result property="userEmail" 	column="USER_EMAIL"/>
		<result property="userGender" 	column="USER_GENDER"/>
		<result property="userType" 	column="USER_TYPE"/>
		<result property="userDate" 	column="USER_DATE"/>
	</resultMap>
	
	<!-- select -->
	<select id="selectIdPw" resultMap="UserResultMap">
		SELECT * FROM USER_TBL WHERE USER_ID = #{userId} AND USER_PW = #{userPw}
	</select>
	<select id="selectUserId" resultMap="UserResultMap">
		SELECT * FROM USER_TBL WHERE USER_ID = #{userId}
	</select>
	<select id="findId" resultMap="UserResultMap">
		SELECT * FROM USER_TBL WHERE USER_NAME = #{userName} AND USER_EMAIL = #{userEmail}
	</select>
	<select id="findPw" resultMap="UserResultMap">
		SELECT * FROM USER_TBL WHERE USER_ID = #{userId} AND USER_EMAIL = #{userEmail}
	</select>
	
	<!-- insert -->
	<insert id="insertUser">
		INSERT INTO USER_TBL VALUES(SEQ_USER_NO.NEXTVAL, #{userId}, #{userPw}, #{userName}, #{userEmail}, #{userGender}, DEFAULT, DEFAULT)
	</insert>
	
	<!-- update -->
	<update id="updateUser">
		UPDATE USER_TBL SET USER_PW = #{userPw}, USER_NAME = #{userName} WHERE USER_ID = #{userId}
	</update>
	
	<!-- delete -->
	<delete id="deleteUser">
		DELETE FROM USER_TBL WHERE USER_ID = #{userId}
	</delete>
	
</mapper>
