<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"></setting>
		<!-- 만약에 null로 데이터가 전달되었으면 빈칸이 아닌 "NULL"로 인식하도록 설정 -->
	</settings>
	<typeAliases>
		<typeAlias type="com.kh.spouting.user.domain.User" alias="User"/>
		<typeAlias type="com.kh.spouting.center.domain.Center" alias="Center"/>
		<typeAlias type="com.kh.spouting.book.domain.Facilities" alias="Facilities"/>
		<typeAlias type="com.kh.spouting.book.domain.Book" alias="Book"/>
		<typeAlias type="com.kh.spouting.meeting.domain.Meeting" alias="Meeting"/>
		<typeAlias type="com.kh.spouting.notice.domain.Notice" alias="Notice"/>
		<typeAlias type="com.kh.spouting.notice.domain.NoticeJoin" alias="NoticeJoin"/>
		<typeAlias type="com.kh.spouting.product.domain.Product" alias="Product"/>
		<typeAlias type="com.kh.spouting.product.domain.Category" alias="Category"/>
		<typeAlias type="com.kh.spouting.cart.domain.Cart" alias="Cart"/>
		<typeAlias type="com.kh.spouting.order.domain.Order" alias="Order"/>
		<typeAlias type="com.kh.spouting.order.domain.OrderList" alias="OrderList"/>
		<typeAlias type="com.kh.spouting.review.domain.Review" alias="Review"/>
		<typeAlias type="com.kh.spouting.diary.domain.Diary" alias="Diary"/>
		<typeAlias type="com.kh.spouting.sns.domain.Sns" alias="Sns"/>
		<typeAlias type="com.kh.spouting.sns.domain.SnsProfile" alias="SnsProfile"/>
		<typeAlias type="com.kh.spouting.point.domain.Point" alias="Point"/>
		<typeAlias type="com.kh.spouting.inquiry.domain.Inquiry" alias="Inquiry"/>
		<typeAlias type="com.kh.spouting.center.domain.Search" alias="Search"/>
		<typeAlias type="com.kh.spouting.inquiry.domain.InquiryJoin" alias="InquiryJoin"/>
		<typeAlias type="com.kh.spouting.comment.domain.Comment" alias="Comment"/>
		<typeAlias type="com.kh.spouting.comment.domain.CommentJoin" alias="CommentJoin"/>
		
	</typeAliases>
	<mappers>
		<mapper resource="mappers/user-mapper.xml"/>
		<mapper resource="mappers/center-mapper.xml"/>
		<mapper resource="mappers/facilities-mapper.xml"/>
		<mapper resource="mappers/book-mapper.xml"/>
		<mapper resource="mappers/meeting-mapper.xml"/>
		<mapper resource="mappers/notice-mapper.xml"/>
		<mapper resource="mappers/product-mapper.xml"/>
		<mapper resource="mappers/cart-mapper.xml"/>
		<mapper resource="mappers/order-mapper.xml"/>
		<mapper resource="mappers/review-mapper.xml"/>
		<mapper resource="mappers/diary-mapper.xml"/>
		<mapper resource="mappers/sns-mapper.xml"/>
		<mapper resource="mappers/point-mapper.xml"/>
		<mapper resource="mappers/inquiry-mapper.xml"/>
		<mapper resource="mappers/comment-mapper.xml"/>

	</mappers>
</configuration>