@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard-Regular'; 
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: large;
}

/* 전체 페이지 */
#container {
    margin: 0 auto;
    width: 100%;
    height : 20vh;
    background-color: white;
}


/* 헤더 */
header {
    width: 100%;
    height: 20vh;
    background-color: white;
}

    #logo img{
        float: left;
        width: 25%;
        height: 100px;
        line-height: 100px;
        padding-left: 50px;
        text-align: center;
    }

    #login {
        float: right;
        width: 30%;
        height: 100px;
        line-height: 40px;
        padding-right: 30px;
        padding-top: 20px;
        text-align: end;
    }
    #login a {
        color: rgb(73, 73, 73);
    }
    #login a:hover {
        cursor: pointer;
        color: #607EAA;
        text-decoration: underline;
    }
    #login span {
        font-size: 17px;
        font-weight: 600;
        color: #043dc2;
    }

    /* 네비게이터 */
nav {
    width: 100%;
    height: 50px;
    float: left;
    margin-top: 8px;
}
    .drop_nav {
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .drop_nav .item_part {
        display: inline-block;
    }

    .item_name {
        color: white;
        padding: 16px;
        border: none;
        cursor: pointer;
    }
    .item_name a {
        color: #274ca3;
        font-weight: 600;
    }
    .item_name a:hover {
        color: rgb(71, 71, 71);
    }

    .item_content {
        display: none;
        background-color: #696969c5;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 3px;
    }

    .item_content li a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border-radius: 3px;
    }

    .item_content li a:hover {
        background-color: #00206994;
    }

    .item_part:hover .item_content {
        display: block;
        position: fixed;
    }
