@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular'; 
}
#insert-title {
    text-align: center;
    color: rgb(94, 94, 94);
    font-size: 22px;
    font-weight: 800;
    height: 70px; 
    margin-top: 50px;  
}
    #insert-title span {
        margin: 0 auto;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        border-bottom: 2px solid #0645daab;
    }
#insert-main {
    width: 850px;
    margin: 30px auto;
}
#insert-detail {
    width: 410px;
    margin: 0 auto;
    text-align: center;
}
    #insert-detail td {
        width: 400px;
    }
    #img-box {
        width: 410px;
        height: 410px;
        border: 1px solid #3d5a9e80;
        border-radius: 5px;
    }
    .input-box {
        width: 410px;
        height: 40px;
        font-size: 18px;
        border-radius: 5px;
        border: 1px solid #3d5a9e80;
        margin: 1px;
        padding: 5px;
    }
    .input-box:focus {
        background-color: #c3d5ff7c;
    }
    #insert-detail textarea {
        height: 100px;
    }


#file {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
#insert-detail label {
    display: inline-block;
    padding: 12px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #0646da98;
    cursor: pointer;
    height: 40px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 14px;
}
.upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #3d5a9e80;
    width: 75%;
    color: rgb(119, 119, 119);
    border-radius: 5px;
    font-size: 17px;
}

#diary-btn {
    width: 200px;
    height: 50px;
    border: none;
    background-color: #0645daab;
    border-radius: 5px;
    color: #fafafa;
    margin: 20px;
    margin-bottom: 50px;
    font-size: 16px;
}
    #diary-btn:hover, #insert-detail label:hover{
        color: #32529ec2;
        background-color: #d8d8d885;
        font-weight: 800;
        cursor: pointer;
    }