@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular'; 
}
#main {
    width: 100%;
}
#list-title {
    width: 100%;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}
    #list-title span {
        font-size: 21px;
        padding: 5px;
        padding-left: 30px;
        padding-right: 30px;
        border-bottom: 2px solid #0645daab;
    }
    #diary-btn {
        width: 250px;
        height: 40px;
        border: none;
        background-color: #0645daab;
        border-radius: 5px;
        color: #fafafa;
        margin: 30px;
        font-size: 16px;
    }
        #diary-btn:hover {
            color: #32529ec2;
            background-color: #d8d8d885;
            font-weight: 800;
            cursor: pointer;
        }
#list-wrapper {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    flex-wrap: wrap
}
.dPhoto {
    width: 350px;
    height: 400px;
    margin: 20px;
    border: 2px solid #ccc;
    text-align: center;
}
    .dPhoto img{
        width: 100%;
        height: 350px;
        border-bottom: 2px solid #ccc;
    }
    .dPhoto p {
        padding-top: 10px;
    }
    .dPhoto a:link, .dPhoto a:visited {
        color: black;
        text-decoration: none;
    }
    .dPhoto:hover {
        transform: scale(1.1);
        transition: all 0.1s linear;
        box-shadow: 3px 3px 3px 3px #ccc;
    }