@font-face {
		    font-family: 'Pretendard-Regular';
		    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
		    font-weight: 400;
		    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular'; 
    box-sizing: border-box;
}

#nav {
  float: left;
  width: 200px;
  height : 50vh;
}

#maincontainer {
    width: calc(100% - 200px);
    margin-left : 200px;
    height : 2000px;
    padding-top : 150px;
}

h1, p, a {
	text-align : center;
}

h1 {color:#1C3879;}

img{
	height : 300px;
}

#outterbox {
	width : 400px;
	height : 400px;
	vertical-align : center;
	display : inline-flex;
	justify-content : center;
}

#page {
	align-items : center;
	text-align : center;
}

#search {
	align-items : center;
	text-align : center;
	height : 50px;
	width : 100%;
}

/*페이징///////////////////////////////////////*/
#navi-box {
    width: 800px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    border : none;
    padding-top: 30px;
}
	#navi-box td {
		height: 50px;
		border : none;
	}
    #navi-box a{
        text-decoration: none;
        color: rgb(81, 79, 79);
    }
        #navi-box a:link{
            color: rgb(81, 79, 79);
        }
        #navi-box a:visited{
            color: rgb(81, 79, 79);
        }
    #navi-btn1{
        border: 1px solid #cdcccc;
        padding: 8px;
    }
    #navi-btn2{
        border: 1px solid #cdcccc;
        padding: 8px;
        margin-right: 20px;
    }
    .navi-btn3{
        border: 1px solid #cdcccc;
        padding: 8px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .navi-btn3:hover {
        background-color: #cdcccc;
    }
    #navi-btn4{
        border: 1px solid #cdcccc;
        padding: 8px;
        margin-left: 20px;
    }  
    #navi-btn5{
        border: 1px solid #cdcccc;
        padding: 8px;
    }

 /*검색///////////////////////////////////////*/   
#search-box {
    border: 1px solid #cdcccc;
    height: 38px;
    width: 200px;
}
#search-btn {
    color: rgb(83, 83, 83);
    border:1px solid #cdcccc;
    border-radius: 5px;
    background-color: white;
    height: 40px;
    width: 80px;
}
#search-select {
    color: rgb(83, 83, 83);
    border:1px solid #cdcccc;
    height: 40px;
}
#search-btn:hover {
    background-color: #2d4680;
    color: white;
}
#search-select:focus, #search-box:focus {
    background-color: #62bcd32a;
}