@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular'; 
    box-sizing: border-box;
}

#maincontainer {
    width: 100%;
    height : 2000px;
    padding-top : 150px;
}

#prebox {
    width: 100%;
    height: 60vh;
    padding : 10vh;
    
}
.box1, .box2, .box3 {
    width: 33%;
    height : 45vh;
    border: 0.5px solid black;
	display : inline-block;
	text-align : center;
	align-items : center;
}
h1, p {
	text-align : center;
}

#movebtn {
	display: flex;
    justify-content: center;
    height : 10vh;
}

.prolist {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
    line-height: 30px;
}

img {
    width: 70%;
}

.box {
    width: 100%;
    height: 50vh;
    margin: 0;
    padding-top : 50px;
}

.slide {
    width: 900px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
}

.images {
    display: flex;
    width: 900px;
    height: 300px;
    transition: transform 0.5s;
}
.images img {
    width: 900px;
    height: 300px;
}

.back {
    position: relative;
    bottom: 150px;
    left : 7%;
}
.next {
    position: relative;
    bottom: 150px;
    left : 85%;
}
button {
    width: 40px;
    height: 50px;
    border-radius: 50%;
    border : 0px;
}