@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular'; 
    box-sizing: border-box;
}

#maincontainer {
    width: calc(100% - 200px);
    margin-left : 200px;
    height : 2000px;
    padding-top : 150px;
}

h1, p {
	text-align : center;
}

table {
	width : 80%;
	border-collapse : collapse;
	text-align : center;
	border-top : 1px solid #ccc;
	border-bottom : 1px solid #ccc;
	border-left : 3px solid #1C3879;
	margin : 0 auto;
}

td, th {
	border-bottom : 1px solid #ccc;
}
th {
	height : 50px;
}
td {
	height : 150px;
}

img {
	height : 100px;
}


